<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SARTY </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <environment include="Development">
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    </environment>
    <link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-jqui/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-scroller-jqui/scroller.jqueryui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="nav_head" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3">
            <div class="container">
                <a id="navbrand" style="margin-right:10%;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong> SARTY TEXTILES </strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @await Component.InvokeAsync("Menu")
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SartyTextiles - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-jqui/dataTables.jqueryui.min.js"></script>
    <script src="~/lib/datatables.net-scroller-jqui/scroller.jqueryui.min.js"></script>
    <environment include="Development">
        <script src="~/lib/font-awesome/js/all.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function BaseAddress() {
            return window.location.href.replace(location.pathname, '/');
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
