@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="welcome_div">
    <h1 class="display-4"><strong> WELCOME TO SARTY TEXTILES </strong> </h1>
    <p> Experience the best designing cloths and look perfect every day<p>
</div>
